# XML example and exercise
****
+ study examples of accessing nodes in XML tree structure  
+ work on exercise to be completed and submitted
****
+ reference: https://docs.python.org/2.7/library/xml.etree.elementtree.html
+ data source: http://www.dbis.informatik.uni-goettingen.de/Mondial
****

In [25]:
from xml.etree import ElementTree as ET

## XML example

+ for details about tree traversal and iterators, see https://docs.python.org/2.7/library/xml.etree.elementtree.html

In [26]:
document_tree = ET.parse( './data/mondial_database_less.xml' )

In [30]:
# print names of all countries
for child in document_tree.getroot():
    print (child.find('name').text)

Albania
Greece
Macedonia
Serbia
Montenegro
Kosovo
Andorra

In [5]:
# print names of all countries and their cities
for element in document_tree.iterfind('country'):
    print '* ' + element.find('name').text + ':',
    capitals_string = ''
    for subelement in element.getiterator('city'):
        capitals_string += subelement.find('name').text + ', '
    print capitals_string[:-2]

* Albania: Tirana, Shkodër, Durrës, Vlorë, Elbasan, Korçë
* Greece: Komotini, Kavala, Athina, Peiraias, Peristeri, Acharnes, Patra, Kozani, Kerkyra, Ioannina, Thessaloniki, Iraklio, Chania, Ermoupoli, Rhodes, Tripoli, Lamia, Chalkida, Larissa, Volos, Mytilini, Karyes
* Macedonia: Skopje, Kumanovo
* Serbia: Beograd, Novi Sad, Niš
* Montenegro: Podgorica
* Kosovo: Prishtine
* Andorra: Andorra la Vella

****
## XML exercise

Using data in 'data/mondial_database.xml', the examples above, and refering to https://docs.python.org/2.7/library/xml.etree.elementtree.html, find

1. 10 countries with the lowest infant mortality rates
2. 10 cities with the largest population
3. 10 ethnic groups with the largest overall populations (sum of best/latest estimates over all countries)
4. name and country of a) longest river, b) largest lake and c) airport at highest elevation

In [483]:
document = ET.parse( './data/mondial_database.xml' )

In [484]:
root = document_tree.getroot()

In [485]:
#10 countries with the lowest infant mortality rates
n1 =[]
inf_mor=[]
for country in root.findall('country'):
    name = country.find('name').text
   
    for infant in country.getiterator('infant_mortality'):
        infant_mortality = int(float(infant.text))
        inf_mor.append(infant_mortality)
        if infant_mortality != None:
             n1.append(name)
d=[n1, inf_mor]  
df = pd.DataFrame(d)
df = df.transpose()
df.columns = ['Name', 'infant_mortality']
df = df.sort_values(by='infant_mortality',ascending=1)
df

        Name infant_mortality
4    Andorra                3
1     Greece                4
3     Serbia                6
2  Macedonia                7
0    Albania               13

In [497]:
#10 cities with largest population
import pandas as pd
d1=[]
n2 = []
p1 = []
for element in document.iterfind('country'):
    for subelement in element.getiterator('city'):
        name = subelement.find('name').text
        
        pop = ''
        for child in subelement.getiterator('population'):           
            
            pop = int(float(child.text))
        p1.append(pop)
        if pop != None:
            n2.append(name)            
d1 = [n2,p1]
#Making dataframe using lists of population and name
df1 = pd.DataFrame(d1)
df1 = df1.transpose()
df1.columns= ['name', 'population']
df1 = df1[df1['population'] != '']
df1 = df1.sort_values(by='population',ascending=0).head(10)
df1

           name population
1341   Shanghai   22315474
771    Istanbul   13710512
1527     Mumbai   12442373
479      Moskva   11979529
1340    Beijing   11716620
2810  São Paulo   11152344
1342    Tianjin   11090314
1064  Guangzhou   11071424
1582      Delhi   11034555
1067   Shenzhen   10358381

In [498]:
#10 ethnic groups with the largest overall populations (sum of best/latest estimates over all countries)
import pandas as pd
eg = []
pop_new = []
prcnt = []
for element in document.iterfind('country'):
    name = element.find('name').text
    for subelement in element.iterfind('population'):        
        pop = int(float(subelement.text))    
    ethnicgroup=''
    for subelement in element.iterfind('ethnicgroup'): 
        ethnicgroup = subelement.text
        eg.append(ethnicgroup)
        percent = float(subelement.get('percentage'))
        prcnt.append(percent)
        pop_new1 = pop * percent * 0.01        
        pop_new.append(pop_new1)
df3 = [eg,pop_new]
df3 = pd.DataFrame(df3)
df3 = df3.transpose()
df3.columns = ['ethnic_group', 'population']
df3.groupby('ethnic_group').sum().sort_values(by='population', ascending=False).head(10)

                population
ethnic_group
Han Chinese   1.245059e+09
Indo-Aryan    8.718156e+08
European      4.948722e+08
African       3.183251e+08
Dravidian     3.027137e+08
Mestizo       1.577344e+08
Bengali       1.467769e+08
Russian       1.318570e+08
Japanese      1.265342e+08
Malay         1.219936e+08

In [537]:
#name and country of a) longest river
import pandas as pd

name = []
code = []
for country in document.iterfind('country'):
    name1 = country.find('name').text
    code1 = country.attrib['car_code']
    name.append(name1)
    code.append(code1)
dcon=[name, code]
dfcon= pd.DataFrame(dcon)
dfcon = dfcon.transpose()
dfcon.columns = (['country', 'country_code'])

river_list=[]    
for river in document.iterfind('river'):
    river_name = river.find('name').text
    river_length = river.find('length')
    con = river.attrib['country']
    if river_length != None:
        river_length = river.find('length').text
    river_list.append([con, river_name, river_length])
dfriv = pd.DataFrame(river_list)
dfriv.columns = (['country_code', 'river_name', 'river_length'])
dfriv['river_length']= pd.to_numeric(dfriv.river_length)
dfriv = dfriv.sort_values(by= 'river_length', ascending=False)
dfriv

longriv = dfriv.merge(dfcon, how='outer')
longriv = longriv.sort_values(by= 'river_length', ascending=False).head(10)
longriv

       country_code river_name  river_length        country
0          CO BR PE   Amazonas        6448.0            NaN
1                CN    Jangtse        6380.0          China
2                CN    Hwangho        4845.0          China
4                 R       Lena        4400.0         Russia
21          RCB ZRE      Zaire        4374.0            NaN
22  CN LAO THA K VN     Mekong        4350.0            NaN
23         R KAZ CN    Irtysch        4248.0            NaN
24    RMM RN WAN RG      Niger        4184.0            NaN
25              USA   Missouri        4130.0  United States
5                 R   Jenissej        4092.0         Russia

In [542]:
#name and country of  b) largest lake 
import pandas as pd
name = []
code = []
for country in document.iterfind('country'):
    name1 = country.find('name').text
    code1 = country.attrib['car_code']
    name.append(name1)
    code.append(code1)
dcon=[name, code]
dfcon= pd.DataFrame(dcon)
dfcon = dfcon.transpose()
dfcon.columns = (['country', 'country_code'])

lake_list=[]    
for lake in document.iterfind('lake'):
    lake_name = lake.find('name').text
    lake_area = lake.find('area')
    con = lake.attrib['country']
    if lake_area != None:
        lake_area = lake.find('area').text
    lake_list.append([con, lake_name, lake_area])
dflak = pd.DataFrame(lake_list)
dflak.columns = (['country_code', 'lake_name', 'lake_area'])
dflak['lake_area']= pd.to_numeric(dflak.lake_area)
dflak = dflak.sort_values(by= 'lake_area', ascending=False)
dflak

larglak= dflak.merge(dfcon, how='outer')
larglak = larglak.sort_values(by= 'lake_area', ascending=False).head(10)
larglak

      country_code        lake_name  lake_area        country
0   R AZ KAZ IR TM      Caspian Sea   386400.0            NaN
1          CDN USA    Lake Superior    82103.0            NaN
5      EAT EAK EAU    Lake Victoria    68870.0            NaN
2          CDN USA       Lake Huron    59600.0            NaN
6              USA    Lake Michigan    57800.0  United States
21     IL JOR WEST         Dead Sea    41650.0            NaN
22    ZRE Z BI EAT  Lake Tanganjika    32893.0            NaN
23             CDN  Great Bear Lake    31792.0         Canada
30               R     Ozero Baikal    31492.0         Russia
36      MW MOC EAT      Lake Malawi    29600.0            NaN

In [546]:
#name and country of c) airport at highest elevation
import pandas as pd
name = []
code = []
for country in document.iterfind('country'):
    name1 = country.find('name').text
    code1 = country.attrib['car_code']
    name.append(name1)
    code.append(code1)
dcon=[name, code]
dfcon= pd.DataFrame(dcon)
dfcon = dfcon.transpose()
dfcon.columns = (['country', 'country_code'])

arprt_list=[]    
for arprt in document.iterfind('airport'):
    arprt_name = arprt.find('name').text
    arprt_elev = arprt.find('elevation')
    con = arprt.attrib['country']
    if arprt_elev != None:
        arprt_elev = arprt.find('elevation').text
    arprt_list.append([con, arprt_name, arprt_elev])
dfarprt = pd.DataFrame(arprt_list)
dfarprt.columns = (['country_code', 'arprt_name', 'arprt_elev'])
dfarprt['arprt_elev']= pd.to_numeric(dfarprt.arprt_elev)
dfarprt = dfarprt.sort_values(by= 'arprt_elev', ascending=False)


higharprt= dfarprt.merge(dfcon, how='outer')
higharprt = higharprt.sort_values(by= 'arprt_elev', ascending=False).head(10)
higharprt

,country_code,arprt_name,arprt_elev,country
0,BOL,El Alto Intl,4063.0,Bolivia
7,CN,Lhasa-Gonggar,4005.0,China
8,CN,Yushu Batang,3963.0,China
104,PE,Juliaca,3827.0,Peru
105,PE,Teniente Alejandro Velasco Astete Intl,3311.0,Peru
1,BOL,Juana Azurduy De Padilla,2905.0,Bolivia
120,EC,Mariscal Sucre Intl,2813.0,Ecuador
106,PE,Coronel Fap Alfredo Mendivil Duarte,2719.0,Peru
107,PE,Mayor General FAP Armando Revoredo Iglesias Ai...,2677.0,Peru
124,MEX,Licenciado Adolfo Lopez Mateos Intl,2581.0,Mexico

In [2]:
#for child in document.getroot():
    #print (child.tag)
    #for kid in child:
        #print(kid.tag)